h1 {
    color: cadetblue;
    font-size: 50;
}

body {
    background-color: whitesmoke;
}

.sonoma{
    height:80%;
}

#demo {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}