{% extends 'base.html' %}

{% block content %}

{% if name %}
    <h1>User Added! </h1>
    <br/>
    
    <table class="table">
        <thead>
            <tr>
                <td>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Date Added</th>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for our_user in our_users %}
                <tr>
                    <th scope="row">{{ our_user.id }}</th>
                    <th scope="row">{{ our_user.name  }} </th>
                    <th scope="row">{{ our_user.email }}</th>
                    <th scope="row">{{ our_user.date_added }}</th>
    
                </tr>
            {% endfor %}
            </tbody>
            </table>


{% else %}
    <h1>Userlist :</h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="post">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}

            {{ form.name(class="form-control") }}
            <br/>

            {{ form.email.label(class="form-label") }}

            {{ form.email(class="form-control") }}
            
            <br>
            {{ form.submit(
                class="btn btn-secondary") }}

        </form>
    </div>

    <br/><br/><br/>

    <table class="table">
    <thead>
        <tr>
            <td>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date Added</th>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for our_user in our_users %}
            <tr>
              <th scope="row">{{ our_user.id }}</th>
              <th scope="row">{{ our_user.name  }} </th>
              <th scope="row">{{ our_user.email }}</th>
              <th scope="row">{{ our_user.date_added }}</th>

            </tr>
        {% endfor %}
        </tbody>
      </table>
   

{% endif %}

{% endblock content %}


