{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

{% endfor %}


{% if name %}
    <h1>User Added! </h1>
    <br/>
    
    <table class="table">
        <thead>
            <tr>
                <td>
                    <th scope="col">Username</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Favorite Color</th>
                    <th scope="col">Date Added</th>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for our_user in our_users %}
                <tr>
                    <th scope="row">{{ our_user.id }}</th>
                    <th scope="row"><a href="{{ url_for('update', id=our_user.id) }}">{{ our_user.name  }}</a></th>
                    <!--<th scope="row">{{ our_user.name }}</th>-->
                    <!-- <th scope="row"><a href="{{ url_for('update', id=our_user.id) }}"></a></th>-->
                    <th scope="row">{{ our_user.email }}</th>
                    <th scope="row">{{ our_user.favorite_color }}</th>
                    <th scope="row">{{ our_user.date_added }}</th>
                    <th><a href="{{ url_for('delete', id=our_user.id) }}">Delete</a></th>
                </tr>
            {% endfor %}
            </tbody>
            </table>


{% else %}
    <h1>User List :</h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
        <form method="post">
            {{ form.hidden_tag() }}

            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control") }}
            
            <br>

            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}

            <br>

            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control") }}
            
            <br>
            
            {{ form.favorite_color.label(class="form-label") }}
            {{ form.favorite_color(class="form-control") }}

            <br>
            
            {{ form.password_hash.label(class="form-label") }}
            {{ form.password_hash(class="form-control") }}

            <br>

            {{ form.password_hash2.label(class="form-label") }}
            {{ form.password_hash2(class="form-control") }}

            <br>

            {{ form.submit(
                class="btn btn-secondary") }}

        </form>
    </div>

    <br/><br/><br/>

    <table class="table">
    <thead>
        <tr>
            <td>
                <th scope="col">Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col">Favorite Color</th>
                <th scope="col">Date Added</th>
            </td>
        </tr>
    </thead>
    <tbody>
        {% for our_user in our_users %}
            <tr>
              <th scope="row">{{ our_user.id }}</th>
              <th scope="row"><a href="{{ url_for('update', id=our_user.id) }}">{{ our_user.name  }}</a></th>
              <th scope="row">{{ our_user.username }}</th>
              <th scope="row">{{ our_user.email }}</th>
              <th scope="row">{{ our_user.favorite_color }}</th>
              <th scope="row">{{ our_user.date_added }}</th>
              <!-- <th scope="row">Pass: {{ our_user.password_hash }}</th> --> <!-- To see password if it works-->
              <th><a href="{{ url_for('delete', id=our_user.id) }}">Delete</a></th>

            </tr>
        {% endfor %}
        </tbody>
      </table>

{% endif %}

<br><br><br>

{% endblock content %}


