<h1>Hello world</h1>
<h2>This is my first flask app</h2>
<p>My name is {{ first_name  }}</p>
<p>{{ stuff }}</p>
<p>{{ stuff|safe }}</p>
<p>{{ stuff|striptags }}</p> <!-- removes html codes -->
<p>{{ stuff|title }}</p> <!--  Every word starts upper -->
<br>
<h3>Favorite Pizzas:</h3>
<!-- <p>{{ favorite_pizza[0] }}</p> -->

{% for topping in favorite_pizza %}
    {% if topping == 41 %}
     {{ topping + 100 }} <br>
    {% else %}
     {{ topping }} <br>
    {% endif %}

{% endfor %}

<br>

{{ favorite_pizza.0 }}


