{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

{% endfor %}


<h1>Blog Posts...</h1>
<br/>

{% for post in posts %}

<div class="card" id="cardIndex">
    <div class="card-body">
      <h5 class="card-title">Title: <a href="{{ url_for('post', id=post.id) }}" style="text-decoration: none;">{{ post.title }}</a></h5>
      <h6>Author: {{ post.poster.name }}</h6>
      <span>Slug ->{{ post.slug }}</span>
      <p class="card-text"> {{ post.content }} </p>
      <a href="{{ url_for('post', id=post.id) }}" class="btn btn-outline-secondary btn-sm">View more</a> 

      {% if post.poster_id == current_user.id %}

      <a href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger btn-sm">Delete Post</a> 
      <a href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-warning btn-sm">Edit Post</a> 
      <br/><br>
      
      {% endif %}

      <p class="card-text"><small class="text-body-secondary">{{ post.date_posted }}</small></p>
      
    
    </div>
</div>
<br>
{% endfor %}

{% endblock %}
