{% extends 'base.html' %} {% block content %} {% for message in
get_flashed_messages() %}

<div class="alert alert-warning alert-dismissible fade show" role="alert">
  {{ message }}
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>

{% endfor %}

<h1>Blog Posts...</h1>
<br />

<div class="card" id="cardIndex">
  <div class="card-body">
    <h5 class="card-title">Title: {{ post.title }}</h5>
    <h6>Author: {{ post.poster.name }}</h6>
    <span>Slug ->{{ post.slug }}</span>
    <p class="card-text">{{ post.content|safe }}</p>
    <br />

    <div class="card mb-3">
      <div class="row no-gutters">
        <div class="col-md-2">
          {% if post.poster.profile_pic %}
            
          <img src="{{ url_for('static', filename='images/' + post.poster.profile_pic) }}" width="150" align="left">

          {% else %}

          <img src="{{ url_for('static', filename='images/def.jpg') }}" width="150" align="left">

          {% endif %}
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title">{{ post.poster.name }}</h5>

            <p class="card-text">
              {% if post.poster.about_author %} {{ post.poster.about_author }}
              {% else %} Author has no about section yet... {% endif %}
            </p>
            <p class="card-text">
              <small class="text-body-secondary">{{ post.date_posted }}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br />

{% if post.poster_id == current_user.id %}

<a
  href="{{ url_for('edit_post', id=post.id) }}"
  class="btn btn-outline-warning btn-sm"
  >Edit Post</a
>
<a
  href="{{ url_for('delete_post', id=post.id) }}"
  class="btn btn-outline-danger btn-sm"
  >Delete Post</a
>

{% endif %}

<a href="{{ url_for('posts') }}" class="btn btn-outline-secondary btn-sm"
  >Go Back</a
>

{% endblock %}
