{% extends 'base.html' %}

{% block content %}

<!-- dont forget to put for loop -->
{% for message in get_flashed_messages() %}

    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

{% endfor %}

{% if email %}
    <h1>Email: {{ email }}</h1>
    <h1>Password: {{ password }}</h1>
        <br>
        <h2>I found this info:</h2>
       <br> Name : {{ pw_to_check.name  }} <br/>
       <br> Email : {{ pw_to_check.email  }} <br/>
        <br> PW : {{ pw_to_check.password_hash }} <br/>
        <br/>
        Passed: {{ passed }}
<!-- it works when someone already registered to show their info -->

{% else %}
    <h1>What's your Email and Password?</h1>
    <br>
    <form method="post">
        {{ form.hidden_tag() }}

        {{ form.email.label(
            class="form-label") }}

        {{ form.email(
            class="form-control") }}
        <br>
        {{ form.hidden_tag() }}

        {{ form.password_hash.label(
            class="form-label") }}

        {{ form.password_hash(
            class="form-control") }}
            <br>

        {{ form.submit(
            class="btn btn-secondary") }}

    </form>
{% endif %}

{% endblock content %}


